*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #08c0dd;
  --secondary-color: #262431;
  --background-color: #fff0e5;
  --tertiary-color: #2f2c3d;
}
html,
body {
  font-family: "Open Sans", sans-serif;
  background: var(--secondary-color);
  color: #fff;
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}
.main {
  padding: 0 6rem;
}
/* Navabar */
.navbar {
  padding: 1.2rem 2rem;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  /* z-index: 1000; */
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}
.navbar.scrolled {
  position: fixed;
  background-color: #7950f2;
  padding: 0.2rem 2rem;
}
.navbar__logo img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.navbar__logo:hover::after {
  content: " Dr. PANGSUI USIFU LINGE";
  position: absolute;
  top: 90%; /* Position it below the original element */
  left: 0;
  color: #fff;
  font-size: 14px;
  padding-left: 20px;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__menu-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
}

.navbar__menu-link:hover,
.navbar__mobile-menu-link:hover {
  color: var(--primary-color);
}

.navbar__menu-link--primary,
.navbar__mobile-menu-link--primary {
  color: var(--primary-color);
}

.navbar__menu-link--primary:hover,
.navbar__mobile-menu-link--primary:hover {
  color: #fff;
}

.navbar__mobile-menu-items {
  transform: translateX(100%);
}

.navbar__mobile-menu-items.active {
  transform: translateX(0);
}

.navbar.navbar--scroll {
  background-color: rgba(38, 36, 49, 0.8);
  backdrop-filter: blur(10px);
}
/* Mobile Menu  */
.navbar__mobile-menu {
  display: none;
  cursor: pointer;
}
.navbar__mobile-menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  background: var(--secondary-color);
  opacity: 0.95;
  padding: 3rem 2rem;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255 0.1);
  transition: transform 0.3s ease-in-out;
}

.navbar__mobil-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}
/* Home */
.home {
  /* height: 22rem; this one causes malfunctioning*/
  margin-bottom: 4rem;
}
.home h1 {
  margin-bottom: 2.5rem;
  text-align: center;
}
.home h1 span,
.portfolio .paragraph,
.publications-heading {
  background: linear-gradient(to top, #ffe838, #fd57bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home h2 {
  text-align: center;
  margin-bottom: 0.7rem;
  font-weight: 600;
  color: var(--primary-color);
}
.home p {
  text-align: justify;
}
/* Portfolio */
.portfolio {
  margin-bottom: 4rem;
}
.portfolio h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
  color: var(--primary-color);
}
.portfolio .paragraph {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.portfolio-item {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  padding: 30px;
  padding-right: 48px;
  cursor: pointer;
  border-top: 4px solid #fff;
  height: 15.8rem;
  display: flex;
  flex-wrap: wrap;
}
.title {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--primary-color);
}
.item-content.hidden {
  display: none;
}
.open {
  border-top: 4px solid #087f5b;
}
.plus-minus {
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--background-color);
  position: relative;
  left: 2.8rem;
}
.title-sign {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.git {
  font-weight: bold;
  color: var(--primary-color);
  padding-right: 1ch;
}
.url {
  font-weight: bold;
  color: #087f5b;
}

/* styles for publications */
.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.publications-paragraph {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
  color: var(--primary-color);
}
.publications-heading {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
.numbers > div {
  height: 40px;
  aspect-ratio: 1;
  background-color: #e7e7e7;
  color: var(--secondary-color);
  font-weight: 600;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.numbers .active {
  background-color: #7950f2;
  color: #fff;
}

.message {
  text-align: justify;
}
.download-article {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  font-weight: bold;
  color: #087f5b;
}
.pulications-title {
  margin-bottom: 1rem;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.buttons button {
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 100px;
  font-size: 1.1rem;
  font-weight: 500;
}
.buttons button:hover {
  opacity: 0.8;
}
.publications-content {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  padding: 30px;
  padding-right: 48px;
  cursor: pointer;
  margin-bottom: 5rem;
  border-radius: 20px;
}

/* Certifications section */
.buttons-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.btn {
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  padding: 0.5rem 3rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}
.btn.java {
  background-color: var(--primary-color);
  color: #fff;
}
.btn.html-css {
  background-color: #087f5b;
  color: #fff;
}
.btn.js {
  background-color: #7950f2;
  color: #fff;
}
.certifications-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  margin-top: 2rem;
}
.certifications-title {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--primary-color);
  margin-bottom: 1rem;
}
.course-summary {
  text-align: center;
}
.download-certification {
  margin-bottom: 2rem;
  margin-top: 0.3rem;
  font-weight: bold;
  color: #087f5b;
  cursor: pointer;
}
.btn.animate {
  position: relative;
  bottom: 0.8rem;
  /* transition: all ease 0.3s; */
}
/* Media Queries */

@media (max-width: 992px) {
  /* navbar */
  .navbar {
    padding-top: 1.5rem;
  }
  .navbar__logo img {
    width: 75px;
    height: 75px;
  }

  /* main */
  .main {
    padding: 0 3rem;
  }

  /* navbar */

  .navbar__mobile-menu-toggle i {
    position: relative;
    bottom: 1rem;
  }
  /* portfolio */
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
  }
}
@media (max-width: 768px) {
  /* Navbar */
  .navbar {
    padding-top: 1.4rem;
  }
  .navbar__menu {
    display: none;
  }
  .navbar__mobile-menu {
    display: block;
    cursor: pointer;
  }
  .navbar__logo img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }

  .home h1 {
    /* white-space: normal;
    word-spacing: 0; */
  }
  /* publications */
  .numbers {
    gap: 5rem;
  }
  .pulications-title {
    font-size: 1rem;
    text-transform: lowercase;
  }
  /* certifications */
  .buttons-flex {
    gap: 1rem;
  }
  .btn {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 430px) {
  /* navbar */
  .navbar {
    padding-top: 1.6rem;
  }
  .navbar__logo img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }
  /* portfolio */
  .portfolio-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  /* publications */
  .numbers {
    gap: 2.5rem;
  }
  .buttons {
    gap: 6rem;
  }
  /* publications */
  .numbers {
    gap: 1.5rem;
  }
  .buttons {
    gap: 2.5rem;
  }
}
